<div class="container" style="padding-top: 60px">
<h1>Our larger than MX GP Blog</h1>

  <br>
  <div class="row">
    <% @blogposts.each do |blogpost| %>
      <div class="message">
        <div class="message-name">
          <%= blogpost.date %>
        </div>
        <div class="message-name">
          <%= blogpost.name %>
        </div>
        <div class="message-name">
          <%= blogpost.description %>
        </div>
        <div class="message-name">
          <button class="btn-primary mx-sm-2">
            <%= link_to "read", 
                  blogpost_path(blogpost) %>
          </button> 
        </div>
      </div>
		<% end %>
	</div>
</div>