.container-1{
	position: absolute;
  z-index: 1;
  background-color: #CFA775;
  top: 220px;
  width: 1169px;
  height: 300px;
}

.container-2{
	position: absolute;
  z-index:2;
  background-color: #EDEDE6;
  top: 220px;
  width: 1169px;
  height: 300px;
}