<h1>Book this bad motherfucker now</h1>

<%= cl_image_tag(@motorcycle.picture) %>
<%= simple_form_for @booking, :url => motorcycle_bookings_path, method: "post" do |f| %>
      <%= f.button :submit, "Book the motherfucker", class: "btn-primary mx-sm-2" %>
<% end %>
