<div class="container" id="container-padding">
	<h1>TEST ZONE</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div id="tab-1" class="tab" style="background-color: #303030; color: white; font-weight: bolder;">BOOKINGS</div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div id="tab-2" class="tab" style="background-color: gray; font-weight: bolder;">MOTORCYCLES</div>
    </div>
  </div>
  <div class="row">
    <div class="container-1" style="font-weight: bolder;">CONTAINER 1</div>
    <div class="container-2" style="font-weight: bolder;">CONTAINER 2</div>
  </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


</div>

<!-- Next Steps
1 Create active-css-container (like "container.active") and add z-index 0 to active container
2 Set both containers to be of the same container class
3 Find js-dom callback to change html status from passive to active
4 Test and it should work now
 -->