<div class="footer-main">
    <div class="col-xs-12 col-sm-4" style="margin-bottom: 30px">
      <div class="footer-links" style="font-size: 12px; font-weight: bold; position: relative; top: 21px; right: 31px;">
        CONTACT DETAILS
        <br>
        admin@iridenairobi.com
        <br>
        +254 726 115 686
      </div>
    </div>
    <div class="col-xs-12 col-sm-4" style="margin-bottom: 30px">
      <div class="footer-links" style="font-size: 12px; font-weight: bold; position:relative; left: 170px; top: 29px;">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
</div>


