<div class="container" id="container-padding">
  <h1>DELIVERY MOTORCYCLE RENTAL</h1>
  <div class="row">
  	<div class="col-xs-12 col-sm-4">
  	  <p style="font-weight: bolder;">
  			QUALITY BIKES
  		</p>
  		<p>
  			Ensure your safe and speedy delivery with quality carrier-fitted bikes
  		</p>
		</div>
 	<div class="col-xs-12 col-sm-4">
  	  <p style="font-weight: bolder;">
  			FLEXIBLE RENTAL
  		</p>
  		<p>
  			Flexibly rent our bikes to meet your changing business demand
  		</p>
		</div>
 	<div class="col-xs-12 col-sm-4">
  	  <p style="font-weight: bolder;">
  			AFFORDABLE RATES
  		</p>
  		<p>
  			We offer the courier motorbikes at Ksh 500/day
  		</p>
		</div>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
	</div>
</div>