<div class="container" style="padding-top: 20px">
  <h1>CONTACT US HERE</h1>
  <div class="row">
  	<div class="col-xs-12 col-sm-4">
  	SOME TEXT HERE
		</div>
  	<div class="col-xs-12 col-sm-4">
  	SOME TEXT HERE
		</div>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
	</div>
</div>