<div class="container" id="container-padding">
  <h1>EXCURSIONES</h1>
  <div class="row">
  	<div class="col-xs-12 col-sm-4">
  	QUALITY BIKES
		</div>
  	<div class="col-xs-12 col-sm-4">
  	FLEXIBLE RENTAL
		</div>
  	<div class="col-xs-12 col-sm-4">
  	AFFORDABLE RATES
		</div>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
	</div>
</div>