<div class="banner">
  <div class="banner-content">
    <video width="100%" src="https://res.cloudinary.com/dfh7sorai/video/upload/v1541367464/realiride/video1.mp4" type="video/mp4" autoplay loop>
    </video>
    <div class="overlay">
      <div class="container">
        <h1 class="banner-title">Motorcycle Rental</h1>
        <p class="banner-title" style="font-size: 16px;">Rent and drive your own boda boda with iRideNairobi</p>
        <div class="form-wrapper" style="width: 300px;">
          <%= simple_form_for :search, :url => motorcycles_path, method: "get" do |f| %>
            <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
            <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
            <%= f.button :submit, "Check available motorcycles", class: "btn-primary mx-sm-2" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


