<div class="container" style="padding-top: 20px">
	<h1>Dashboard - Motorcycles</h1>
  <div class="row">
    <% @motorcycles.each do |motorcycle| %>
    	<li><%= motorcycle.name %></li>
    <% end %>
  </div>
 </div>
